

body {
    background-color: rgb(2, 2, 2);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
}

header {
    grid-column: span 3;
    text-align: center;
    border: 2px solid rgb(80, 0, 0);
    margin-bottom: 5px;
}
header h1 {
    color: maroon;
    font-size: 1vw;
}
nav {
    color:red;
}
main {
    color:red;
    text-align: left;
    border: 2px solid rgb(80, 0, 0);
    grid-column: span 2;
}
aside {
    color:red;
    border: 2px solid rgb(80, 0, 0);
    margin-left: 5px;
    grid-column: span 1;
    padding: 5px;
    box-sizing: border-box;
    
}
footer {
    text-align: center;
    grid-column: span 3;
    padding-top: 10px;
}
img {
    image-rendering: pixelated;
}
header pre {
    font-size: 1vw;
    font-size: calc(8px + 0.5vw);
}
p {
    margin: 0;
}

.footer_text {
    color:rgb(126, 60, 60);
    padding:2px
}